body {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    margin: 0;
    align-self: center;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.main-header {
    padding-top: 15px;
    background-color: white;
}

.logo {
    color: black;
    font-size: 50px;
    text-decoration: none;
}

.blue {
    color: #4dcaff;
}

.header-nav {
    margin-top: 15px;
    background-color: #36444f;
    display: inline-block;
    text-align: center;
    font-size: 0;
    width: 100%;
    padding: 15px 0;
}

.nav-link {
    border-left: 1px solid rgba(255, 255, 255, 0);
    border-right: 1px solid rgba(255, 255, 255, 0);
    padding: 15px;
    font-size: 24px;
    color: white;
    text-decoration: none;
    transition: all 0.5s;
}

.nav-link:hover {
    background-color: rgba(0, 0, 0, 0.2);
    border-color: white;
}

.content {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.side-nav {
    border: 1px solid black;
    width: 344px;
}

.side-nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.side-nav-list a {
    display: inline-block;
    color: black;
    padding: 15px;
    text-decoration: none;
    width: 100%;
    font-size: 27px;
    transition: all 0.5s;
}

.side-nav-list a:hover {
    background-color: #dbdbdb;
    padding-left: 30px;
}

.article {
    width: calc(100% - 390px);
}

.article-image {
    border: #3f3f3f solid 1px;
    border-image-slice: 30px;
    padding: 60px;
    max-height: 500px;
    text-align: center;
    overflow: hidden;
}

.article-image img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    object-position: center;
    margin: 0 auto;
    transition: 0.3s;
}

.article-image img:hover {
    transform: scale(1.5);
}

.footer-nav-list {
    background-color: #b4b7b9;
    font-size: 25px;
    justify-content: space-evenly;
    width: 100%;
}

.footer-nav ul {
    padding: 5px 20px;
}

.footer-nav li {
    display: inline-block;
    padding: 10px;
}

.footer-nav a {
    text-decoration: none;
    color: black;
}

.footer-nav a:hover {
    border-bottom: 1px solid #3181a6;
    color: #3181a6;
    width: 50%;
    padding-bottom: 3px;
}

.footer-nav span {
    padding: 10px;
    float: right;
}