* {
    box-sizing: border-box;
}

@mixin helvetica-neue-medium {
    font-family: "HelveticaNeueMedium", "HelveticaNeue-Medium", "Helvetica Neue Medium", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-weight: 500;
    font-stretch: normal;
}

.btn {
    display: inline-block;
    border: none;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 15px;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 400px;
    min-width: 150px;
    margin: 5px 8px;
    color: white;
    outline: none;
    font-size: 16px;
}

.btn:hover {
    color: #FFA9B1;
}

.close-btn {
    color: white;
    cursor: pointer;
    float: right;
    margin: 0;
    position: relative;
    bottom: 3px;
    font-size: 25px;
    right: 10px;
    background-color: #d44637;
    outline: none;
    border: none;
}

.close-btn:hover {
    color: #87C6E8;
}

.background {
    margin: 0 auto;
    padding: 150px 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(48, 54, 58);
    white-space: pre-wrap;
}

.modal {
    margin: 0 auto;
    width: 500px;
    height: 300px;
    background-color: #e74c3c;
    border-radius: 5px;
    border: none;
}

.modal-text {
    font-family: "HelveticaNeueMedium";
    margin: 60px 15px;
    color: white;
    font-size: 18px;
}

.container-header {
    border-radius: 5px;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: #d44637;
}

.header {
    position: relative;
    bottom: 4px;
    color: white;
    width: 70%;
    font-size: 20px;
    padding: 15px 0;
    font-weight: 650;
}