    body {
        /* height: 100vh; */
        margin: 0 auto;
        font-family: Arial, Helvetica, sans-serif;
        padding: 0;
        box-sizing: border-box;
    }
    
    .main {
        background-image: url(../img/night.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    .header-nav {
        height: 120px;
        position: relative;
        padding: 0px 200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.301);
    }
    
    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .navigation a {
        padding: 50px 10px;
        margin: 0;
        font-size: 9px;
        text-align: center;
        text-decoration: none;
        color: #b8b8b8;
        border: 0;
    }
    
    .navigation a:hover {
        color: #18cfab;
        border-bottom: 1px solid #18cfab;
    }
    
    .logo {
        transform: scale(1.3);
        margin-left: 3px;
    }
    
    .logo a {
        color: white;
        text-decoration: none;
        font-family: monospace;
        font-size: 1.1em;
    }
    
    .icon a {
        color: #b8b8b8;
        font-weight: 700;
    }
    
    .icon i {
        transform: scale(1.5);
    }
    
    .polygon {
        width: 100%;
        height: 100%;
        size: 20px;
        position: relative;
        transform: scale(.7);
    }
    
    .h-left {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .h-logo {
        position: absolute;
        top: 20px;
        left: 15px;
        transform: scale(1);
    }
    
    .nav-items li {
        float: left;
        text-transform: none;
        list-style-type: none;
        font-size: 1.3em;
        font-weight: 700;
    }
    
    .content {
        margin-top: 130px;
        text-align: center;
        color: white;
    }
    
    .content h1,
    .content h3 {
        margin: 10px;
    }
    
    .btns {
        margin: auto;
        padding: 150px 0 170px 0;
        width: 27%;
        display: flex;
        justify-content: space-between;
    }
    
    .btns button {
        border: 0;
        background: none;
        padding: 15px 30px;
        display: inline-block;
        border-radius: 3px;
        border-top: 3px solid #ffffff;
        color: #ffffff;
        text-transform: uppercase;
        font-size: .7em;
        font-weight: bolder;
    }
    
    .services {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding: 0px;
    }
    
    .srv {
        flex: 50%;
        height: 270px;
        width: 370px;
        display: flex;
        text-align: center;
        vertical-align: baseline;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        text-transform: uppercase;
    }
    
    .srv img {
        transform: scale(.8);
        display: block;
        margin: auto;
    }
    
    .srv:nth-child(odd) {
        background-color: #1c3b35;
        border-top: 3px solid #18cfab;
        color: #18cfab;
    }
    
    .srv:nth-child(even) {
        background-color: #18cfab;
        border-top: 3px solid #ffffff;
        color: #ffffff;
    }
    
    .centered-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .second-header {
        padding: 50px;
        font-size: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .second-header line {
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .header-line1 {
        border-bottom: 1px solid #18cfab;
        text-align: center;
        content: "";
        height: 35px;
        margin: auto;
        width: 33%;
        position: relative;
        vertical-align: bottom;
    }
    
    .header-line2 {
        border-bottom: 1px solid #18cfab;
        text-align: center;
        content: "";
        height: 5px;
        margin: auto;
        width: 33%;
        position: relative;
        vertical-align: bottom;
        right: -12px;
    }
    
    .tabs {
        display: flex;
        position: relative;
        margin-bottom: 15px;
    }
    
    .tabs button {
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        font-size: 17px;
        background-color: #f8fcfe;
        border: 1px solid #ebebeb;
    }
    
    .tabs-content {
        margin-bottom: 50px;
    }
    
    .tab-cont p {
        padding: 10px;
    }
    
    button {
        transition: 0.7s;
    }
    
    button:hover {
        background-color: #18cfab;
        color: #ebebeb;
    }
    
    .triangle {
        position: absolute;
        background-color: #fff;
        width: 18px;
        height: 18px;
        top: 100%;
        left: calc(50% - 9px);
        content: '';
        transform: rotate(45deg);
        margin-top: -9px;
        display: none;
        transition: 0.7s;
    }
    
    .active .triangle {
        display: inherit;
        background-color: #18cfab;
        transition: 0.7s;
    }
    
    .tabs .active {
        background-color: #18cfab!important;
    }
    
    .tablinks {
        position: relative;
        padding: 20px;
        background-color: #f8fcfe;
        cursor: pointer;
        float: left;
    }
    
    .tablinks.active {
        background-color: #ffffff;
        color: gray;
    }
    
    .tabcontent {
        padding: 12px 12px;
        border-top: none;
        display: flex;
    }
    
    .tab-cont {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 66%;
        margin: auto;
    }
    
    .tab {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 20px 0;
        display: none;
    }
    
    .tab img {
        width: 127px;
    }
    
    .contents {
        background-image: url(../img/earth.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        text-align: center;
        height: 500px;
        padding: 120px 0;
    }
    
    .contents h2,
    .contents h6 {
        text-align: center;
        font-family: "Montserrat";
        line-height: 40px;
        text-transform: uppercase;
    }
    
    .contents h2 {
        font-size: 32px;
        color: #18cfab;
        font-weight: 700;
    }
    
    .contents h6 {
        font-size: 11px;
        color: #d8d8d8;
        font-weight: 500;
    }
    
    .last-button {
        padding: 100px 0 140px 0;
    }
    
    .prc-button {
        border: 0;
        background: none;
        padding: 15px 30px;
        display: inline-block;
        border-radius: 3px;
        border-top: 3px solid #ffffff;
        color: #ffffff;
        text-transform: uppercase;
        font-size: .7em;
        font-weight: bolder;
    }
    
    .load-more-tabs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .last-tabs button:hover {
        color: #18cfab;
        border-top: 2px solid #18cfab;
    }
    
    .last-tabs {
        display: flex;
        position: relative;
        margin-bottom: 15px;
    }
    
    .last-tabs button {
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        font-size: 17px;
        background-color: #f8fcfe;
        border: 1px solid #ebebeb;
    }
    
    .photos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 14px;
    }
    
    .photos .captions {
        display: flex;
        background-color: #fff;
        height: 58px;
    }
    
    .photos .captions li {
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        border-width: 1px 0 1px 1px;
        border-style: solid;
        border-color: #EBEDED;
        position: relative;
        padding: 0 20px;
        cursor: pointer;
    }
    
    .photos .captions li:hover {
        color: #18cfab;
    }
    
    .photos .captions li.active:before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: -2px;
        right: 0;
        height: 2px;
        background-color: #18cfab;
        margin: 0 auto 0;
    }
    
    .photos .last-cont {
        display: flex;
        flex-wrap: wrap;
        margin: 70px 0;
    }
    
    .photos .last-cont .hov {
        position: relative;
    }
    
    .photos .last-cont .hov:hover .info {
        display: flex;
    }
    
    .photos .last-cont .hov .info {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
    }
    
    .photos .last-cont .hov .info::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background-color: #18cfab;
        height: 2px;
        margin: 0 auto 0;
    }
    
    .photos .last-cont .hov .info .info-btn-hov {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100px;
        height: 120px;
    }
    
    .photos .last-cont .hov .info .info-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #18cfab;
        border: #18cfab 1px solid;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        cursor: pointer;
    }
    
    .photos .last-cont .hov .info .info-btn:hover {
        color: #fff;
        background-color: #18cfab;
    }
    
    .photos .last-cont .hov .info .title {
        color: #18cfab;
        font-size: 14px;
        font-weight: bold;
        line-height: 35px;
        text-transform: uppercase;
    }
    
    .photos .last-cont .hov .info .caption {
        color: #8a8a8a;
        font-size: 12px;
        font-weight: 300;
        line-height: 16px;
    }
    
    .load {
        padding: 19px;
        border-radius: 3px;
        transform-style: preserve-3d;
        background-color: #1fd8b3;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border: #18cfab 1px solid;
        cursor: pointer;
    }
    
    .load:hover {
        background-color: #e08e41;
    }
    
    .load::before {
        content: "";
        position: absolute;
        top: -4px;
        left: 0;
        background-color: #fff;
        width: 165px;
        height: 59px;
        border: none;
        border-radius: 4px;
        transform: translateZ(-1px);
    }
    
    .footer {
        font-weight: 300;
        background-color: #2c4350;
        padding: 47px 0 47px;
        text-align: center;
        font-size: 14px;
        line-height: 0;
        color: #aeaeae;
    }